@media(max-width: 1200px) {
  /* GLOBE */
  .container {
    max-width: 824px;
  }

/* HEADER */
  .header__content {
    padding-top: 28px;
    padding-bottom: 6px;
    gap: 23px; 
  }

  .header-nav__list {
    gap: 105px;
    padding: 0;
  }

  .header__left {
    margin-right: auto;
  }

  .header__middle {
    position: relative;
    order: 1;
    padding-top: 22px;
    padding-bottom: 10px;
    margin: 0;
  }

  .header__right {
    order: 0;
  }

  /* HERO */
  .hero {
    border-top: 1px solid var(--bright-gray);
  }

  .hero__content {
    padding-top: 89px;
    padding-bottom: 83px;
  }
  
  .hero__content-left {
    max-width: 539px;
  }

  .hero__img {
    display: flex;
    width: 256px;
  }

  .hero__descr {
    margin-bottom: 20px;
  }

  /* BROADCASTS */
  .broadcasts__container {
    padding-bottom: 96px;
  }

  .broadcasts__item {
    --offsets: 1;
    --items: 2;
  }

  .brodcasts__btn {
    margin-bottom: 11px;
  }

  .broadcasts__left-descr {
    width: 255px;
  }

  /* GUESTS */
  .guests__descr-bottom {
    max-width: 536px;
  }

  /* PLAYLISTS */
  .playlists__content {
    flex-direction: column;
    padding-top: 96px;
    padding-bottom: 88px;
  }

  .playlists__left {
    max-width: 100%;
    margin-bottom: 30px;
    margin-top: 0;
  }

  .playlists__right {
    max-width: 100%;
  }

  .playlists__item {
    --offsets: 2;
    --items: 3;
    width: calc((100% - (30px * var(--offsets))) / var(--items));
    min-height: 114px;
    padding-top: 0;
    padding-left: 115px;
    background-position: left;
    background-size: 112px;
  }

  .playlists__item-content {
    display: flex;
    flex-direction: column;
    padding-left: 5px;
    padding-top: 37px;
  }

  .country-ru, .country-GB {
    top: 0;
    left: 0;
  }

  /* ADVERTISEMENT */
  .adv__content {
    padding-bottom: 94px;
  }

  .adv__left {
    margin-top: -35px;
  }

  .adv__right {
    max-width: 397px;
  }

  .promo {
    width: 100px;
    height: 100px;
    top: -6px
  }

  /* ABOUT-US */
  .about-us__title {
    display: block ;
  }

  .about-us__title-1920 {
    display: none;
  }

  .about-us__descr {
    padding-right: 288px;
    background-image: url("/img/about-us-decoration_1024.png");
    background-size: 255px;
    background-position: right top;
  }

  .about-us__item {
    --offsets: 1;
    --items: 2;
    width: calc((100% - (30px * var(--offsets))) / var(--items));
    background-size: 397px 255px;
    padding-top: 285px;
  }

  .about-us__item-1 {
    background-image: url("/img/about-us-1_1024.jpg");
  }
  
  .about-us__item-2 {
    background-image: url("/img/about-us-2_1024.jpg");
  }
  
  .about-us__item-3 {
    background-image: url("/img/about-us-3_1024.jpg");
  }
  
  .about-us__item-4 {
    background-image: url("/img/about-us-4_1024.jpg");
  }
}

@media(max-width: 998px) {
  /* GLOBE */
  .container {
    max-width: 539px;
  }

  /* HEADER */
  .header-nav__list {
    gap: 54px;
  }

  .header-nav__item {
    font-size: 16px;
  }

  /* HERO */
  .hero__content {
    padding-top: 96px;
    padding-bottom: 90px;
  }

  .hero__content-left {
    max-width: 539px;
  }

  .hero__content-right {
    display: none;
  }

  /* PODCASTS */
  .podcasts__list {
    display: flex;
    flex-direction: column;
  }

  .podcasts__item {
    width: 100%;
  }

  /* BROADCASTS */
  .broadcasts__container {
    padding-bottom: 27px;
  }

  .broadcasts__title {
    margin-bottom: 119px;
  }

  .broadcasts__content {
    flex-direction: column-reverse;
    align-items: center;
  }

  .broadcasts__left {
    width: 351px;
    display: flex;
    padding-top: 0;
  }

  .broadcasts__left {
    display: flex;
    flex-direction: column;
    padding-top: 0;
    padding-left: 89px;
    margin-left: -88px;
    background-size: 70px 96px;
  }

  .broadcasts__left-descr {
    line-height: 150%;
  }

  .broacasts__right {
    margin-bottom: 59px;
  }

  .broadcasts__item {
    min-height: 262px;
  }

  .broadcasts__item-content {
    padding-bottom: 17px;
  }

  /* GUESTS */
  .guests__item {
    min-height: 642px;
    padding-top: 369px;
    padding-left: 0;
    background-position: top;
    background-size: 540px 340px;
  }

  .guests__item-title {
    margin-bottom: 7px;
  }

  .guests__item-descr {
    max-width: 362px;
  }

  .guests__item-btn {
    padding: 9px 18px;
  }

  /* PLAYLISTS */
  .playlists__content {
    padding-bottom: 101px;
  }

  .playlists__item {
    --offsets: 1;
    --items: 2;
  }

  /* ADVERTISEMENT */
  .adv__content {
    flex-direction: column;
    gap: 44px;
    padding-bottom: 90px;
  }

  .promo {
    width: 160px;
    height: 160px;
  }

  .adv__right {
    max-width: 100%;
  }

  .adv__title {
    max-width: 441px;
  }

  .adv__wavy-line {
    width: 539px;
  }

  /* ABOUT-US */
  .about-us__conent {
    padding-bottom: 91px;
  }

  .about-us__descr {
    position: relative;
    padding-right: 0;
    background-image: none;
    padding-bottom: 140px;
  }

  .about-us__descr::after {
    content: url("/img/about-us-decoration_768.png");
    position: absolute;
    bottom: 0;
    right: 0;
    max-width: 781px;
    max-height: 112px;
  }

  .about-us__item {
    padding-top: 285px;
    background-size: 255px;
  }

  .about-us__item-1 {
    background-image: url("/img/about-us-1.jpg");
  }
  
  .about-us__item-2 {
    background-image: url("/img/about-us-2.jpg");
  }
  
  .about-us__item-3 {
    background-image: url("/img/about-us-3.jpg");
  }
  
  .about-us__item-4 {
    background-image: url("/img/about-us-4.jpg");
  }

  .about-us-form__bottom {
    flex-direction: column;
  }

  .form__input {
    width: 100%;
  }

  /* FOOTER */
  .footer__top {
    flex-direction: column;
    align-items: center;
    padding-bottom: 75px;
  }

  .footer__left {
    margin-bottom: 73px;
    align-items: center;
  }

  .footer__social-item svg {
    width: 36px;
    height: 36px;
  }

  .footer__nav {
    gap: 156px;
  }

  .footer__nav-list-left, 
  .footer__nav-list-middle, 
  .footer__nav-list-right {
    gap: 28px;
  }

}

@media(max-width: 480px) {
  /* GLOBE */
  .container {
    max-width: 256px;
  }

  .sec__title {
    font-size: 24px;
  }

  .descr {
    font-size: 14px;
  }

  /* HEADER */
  .header__content {
    padding-top: 14px;
    gap: 7px;
  }

  .header__middle {
    overflow-y: hidden;
    white-space: nowrap;
  }

  .header-nav__list {
    gap: 26px;
  }

  /* HERO */
  .hero__content {
    padding-top: 41px;
    padding-bottom: 41px;
  }

  .hero__title {
    font-size: 32px;
    margin-bottom: 8px;
  }

  .hero__btn {
    font-size: 16px;
    padding: 16px 46px;
  }

  /* PODCASTS */
  .podcasts__content {
    padding-top: 54px;
    padding-bottom: 52px;
  }

  .podcasts__title {
    margin-bottom: 21px;
  }

  .podcasts__list {
    gap: 31px;
  }

  .podcasts__item {
    padding: 96px 0 26px 16px;
    background-position: top center;
    background-size: 256px 72px;
  }

  .podcasts__item-1 {
    background-image: url("/img/podcast-1_320.jpg");
  }
  
  .podcasts__item-2 {
    background-image: url("/img/podcast-2_320.jpg");
  }
  
  .podcasts__item-3 {
    background-image: url("/img/podcast-3_320.jpg");
  }
  
  .podcasts__item-4 {
    background-image: url("/img/podcast-4_320.jpg");
  }
  
  .podcasts__item-5 {
    background-image: url("/img/podcast-5_320.jpg");
  }
  
  .podcasts__item-6 {
    background-image: url("/img/podcast-6_320.jpg");
  }
  
  .podcasts__item-7 {
    background-image: url("/img/podcast-7_320.jpg");
  }
  
  .podcasts__item-8 {
    background-image: url("/img/podcast-8_320.jpg");
  }

  .item__date {
    top: 0;
    left: 0;
  }

  .podcasts__item-title {
    font-size: 16px;
  }

  .podcasts__item-descr {
    font-size: 12px;
  }

  /* BROADCASTS */
  .broadcasts__container {
    padding-top: 54px;
    padding-bottom: 54px;
  }

  .broadcasts__title {
    margin-bottom: 28px;
  }

  .broadcasts__item {
    min-height: 149px;
    padding-top: 60px;
    background-size: 113px 50px;
  }

  .broadcasts__item-content {
    padding: 0 9px 7px 9px;
  }
  
  .broadcasts__left {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    margin-left: -42px;
    background-size: 77px 105px;
  }

  .broadcasts__left-descr {
    width: 166px;
    line-height: 150%;
    margin-bottom: 5px;
  }

  .brodcasts__btn {
    margin-bottom: 0;
    padding: 7px 29px;
  }

  .broacasts__right {
    margin-bottom: 34px;
  }

  .broadcasts__item-title {
    font-size: 12px;
  }

  .broadcasts__item-descr {
    height: 18px;
    font-size: 9px;
  }

  .broadcasts__link {
    color: var(--purple);
    font-size: 12px;
  }

  .broadcasts__item-1 {
    background-image: url("/img/broadcast-1_320.jpg");
  }
  
  .broadcasts__item-2 {
    background-image: url("/img/broadcast-2_320.jpg");
  }
  
  .broadcasts__item-3 {
    background-image: url("/img/broadcast-3_320.jpg");
  }
  
  .broadcasts__item-4 {
    background-image: url("/img/broadcast-4_320.jpg");
  }
  
  .broadcasts__item-5 {
    background-image: url("/img/broadcast-5_320.jpg");
  }
  
  .broadcasts__item-6 {
    background-image: url("/img/broadcast-6_320.jpg");
  }

  /* GUESTS */
  .guests__content {
    padding-top: 54px;
    padding-bottom: 54px;
  }

  .guests__descr-top {
    margin-bottom: 0;
  }

  .guests__descr-bottom {
    margin-bottom: 28px;
  }

  .guests__list {
    gap: 30px;
  }

  .guests__item {
    min-height: 525px;
    padding-top: 172px;
    background-size: 256px 159px;
  }

  .guests__descr-top {
    font-size: 14px;
  }

  .guests__descr-bottom {
    font-size: 14px;
  }

  .guests__item-btn {
    padding: 6px 13px;
  }

  /* PLAYLISTS */
  .playlists__content {
    padding-top: 53px;
    padding-bottom: 57px;
  }

  .playlists__item {
    padding-left: 0;
    padding-top: 121px;
    background-position: top;
    background-size: 113px;
  }

  .playlists__title {
    margin-bottom: 12px;
  }
  
  .playlists__item-content {
    padding: 0;
    padding-left: 8px;
    padding-bottom: 11px;
  }

  .playlists__item-title {
    font-size: 12px;
  }

  .playlists__item-descr {
    font-size: 9px;
  }

  .playlists__descr {
    font-size: 12px;
    line-height: 16px;
  }

  .playlists__copy {
    font-size: 12px;
  }

  .country-ru, .country-GB {
    top: 0;
    right: 0;
    left: auto;
  }

   /* ADVERTISEMENT */
   .adv__content {
    gap: 27px;
    padding-bottom: 54px;
   }

   .promo {
    width: 62px;
    height: 62px;
   }

   .adv__right {
    gap: 13px;
   }

   .adv__title {
    margin-bottom: 13px;
   }

   .adv__wavy-line {
    margin-bottom: 17px;
  }

   .adv__descr-top, .adv__descr-bottom {
    line-height: 157%;
   }

   .adv__right-price {
    font-size: 24px;
   }

   .adv__btn {
    padding: 15px 13px 13px 13px;
   }

   .adv__btn-descr {
    font-size: 16px;
   }
   
   /* ABOUT-US */
   .about-us__conent {
    padding-top: 57px;
    padding-bottom: 57px;
  }

  .about-us__descr {
    padding-bottom: 0;
  }

  .about-us__descr::after {
    display: none;
  }

  .about-us__title {
    margin-bottom: 10px;
  }

  .about-us__descr-top {
    font-size: 14px;
    margin-bottom: 6px;
  }

  .about-us__descr-bottom {
    font-size: 14px;
    line-height: 156%;
    letter-spacing: 0.4px;
  }

  .about-us__item-title {
    font-size: 14px;
    letter-spacing: 0.4px;
  }

  .about-us__item-descr {
    font-size: 12px;
    line-height: 16px;
  }

  .about-us__item {
    padding-top: 127px;
    background-size: 113px;
  }

  .about-us__item-1 {
    background-image: url("/img/about-us-1_320.jpg");
  }
  
  .about-us__item-2 {
    background-image: url("/img/about-us-2_320.jpg");
  }
  
  .about-us__item-3 {
    background-image: url("/img/about-us-3_320.jpg");
  }
  
  .about-us__item-4 {
    background-image: url("/img/about-us-4_320.jpg");
  }

  .form__textarea {
    font-size: 16px;
    padding: 17px 10px 10px 24px;
    border-radius: 20px;
  }
  
  .form__input {
    min-height: 50px;
    font-size: 16px;
    padding: 10px 10px 10px 24px;
  }

  .form__btn {
    max-width: 172px;
    font-size: 16px;
    padding: 16px 45px;
    margin-bottom: 16px;
  }

  .form__agreement {
    font-size: 9px;
  }
}