@media(max-width: 1200px) {
  /* GLOBE */
  .container {
    max-width: 824px;
  }

/* HEADER */
  .header__content {
    padding-top: 28px;
    padding-bottom: 6px;
    gap: 23px; 
  }

  .header-nav__list {
    gap: 105px;
    padding: 0;
  }

  .header__left {
    margin-right: auto;
  }

  .header__middle {
    position: relative;
    order: 1;
    padding-top: 22px;
    padding-bottom: 10px;
    margin: 0;
  }

  .header__right {
    order: 0;
  }

  /* HERO */
  .hero {
    border-top: 1px solid var(--bright-gray);
  }

  .hero__content-left {
    max-width: 539px;
  }

  .hero__img {
    display: flex;
    width: 256px;
  }

  .hero__descr {
    margin-bottom: 20px;
  }
}

@media(max-width: 998px) {
  /* GLOBE */
  .container {
    max-width: 539px;
  }

  /* HEADER */
  .header-nav__list {
    gap: 54px;
  }

  .header-nav__item {
    font-size: 16px;
  }

  /* HERO */
  .hero__content-left {
    max-width: 539px;
  }

  .hero__content-right {
    display: none;
  }
}

@media(max-width: 480px) {
  /* GLOBE */
  .container {
    max-width: 256px;
  }

  .descr {
    font-size: 14px;
  }

  /* HEADER */
  .header__content {
    padding-top: 14px;
    gap: 7px;
  }

  .header__middle {
    overflow-y: hidden;
    white-space: nowrap;
  }

  .header-nav__list {
    gap: 26px;
  }

  /* HERO */
  .hero__content {
    padding-top: 41px;
  }

  .hero__title {
    font-size: 32px;
    margin-bottom: 8px;
  }

  .hero__btn {
    font-size: 16px;
    padding: 16px 46px;
  }
}